<div class="container">

    <div class="user-box">
        <h2>User List:</h2>
        <!-- TODO Task 1: display user's name  -->


    </div>

    <p-button label="add new user" size="small" (click)="addUser()"></p-button>

    <div class="food">
        <h3>Number of food to order</h3>
        <!-- TODO Task 2: display foodToOrder -->
    </div>
</div>

<div class="food">
    <h3 class="post"> Post title:</h3>

    <!-- @for( post of posts(); track post){
    <div class="title">
        {{post.title}}
    </div>

    } -->
</div>